## Run this example in the refresh/example directory
## refresh -f example.toml 
[config]
# Just used in the TUI not required
label = "My Project"
# Relative to this files location
root_path = "./test"
# Runs prior to the exec command starting
pre_exec = ""
# Command to run on reload
exec_command = "go run main.go"
# Runs when a file reload is triggered after killing the previous process
post_exec = ""
# debug | info | warn | error | mute
# Defaults to Info if not provided
log_level = "info" 
# Debounce setting for ignoring reptitive file system notifications
debounce = 1000 # Milliseconds
# Sets what files the watcher should ignore
[config.ignore]
# Directories to ignore
dir = ["ignoreme"]
# Files to ignore
file = ["ignore.go"]
# File extensions to ignore
extension = [".txt"]

